<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    signIn: "<%= image_path('signIn.png') %>",
    addPhoto: "<%= image_path('addPhoto.png') %>",
    logout: "<%= image_path('logout.png') %>",
    profileIcon: "<%= image_path('profileIcon.png') %>",
    signInLogo: "<%= image_path('signInLogo.png') %>",
    navLogo: "<%= image_path('navLogo.png') %>",
    heart: "<%= image_path('heart.png') %>",
    comment: "<%= image_path('comment.png') %>",
    favicon: "<%= image_path('favicon.png') %>",
    heartWhite: "<%= image_path('heartWhite.png') %>",
    commentWhite: "<%= image_path('commentWhite.png') %>"
  }

</script>

<main id="root"></main>
